/* single div for single selected name  */

.selectedDiv {
    background: rgb(50, 74, 211);
    color: rgb(255, 255, 255);
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
}

h3,
h4,
h5,
h6 {
    margin: 0;
}